body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.logo-block {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.title-block {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.login-title {
    color: #555;
    font-size: 36px;
    font-weight: 400;
    display: block;
}

.signin-block {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.login-text {
    text-align: center;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin {
    margin-bottom: 10px;
}

.form-signin {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin input {
    width: 320px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.account-wall {
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.form-signin button {
    display: block;
    width: 100%;
    font-weight: 400;
    text-align: center;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    border: 1px solid transparent;
}

.new-account {
    text-align: center;
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #337ab7;
}

.login-text {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.title-image {
    position: relative;
    margin: 0 auto;
}