<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Length unit converter</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Hello, SmartNinja!</h1>
    <p>Convert miles to kilometers and vice versa.</p>

    <form method="post" action="/convert">
        <input type="number" name="quantity">

        <select name="unit">
          <option value="miles">miles to kilometers</option>
          <option value="km">kilometers to miles</option>
        </select>

        <button>Convert</button>
    </form>
</body>
</html>