<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Simple calculator</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Hello, SmartNinja!</h1>
    <p>This is a simple calculator.</p>

    <form method="post">
        <input type="number" name="first-num" required>

        <select name="operation">
          <option value="+">+</option>
          <option value="-">-</option>
          <option value="*">*</option>
          <option value="/">/</option>
        </select>

        <input type="number" name="second-num" required> = <button type="submit">Get result</button>
    </form>

</body>
</html>